opencv-python>=4.9.0.80
ultralytics>=8.2.0
google-cloud-vision>=3.7.4
google-cloud-storage>=2.18.0
google-cloud-pubsub>=2.21.5
mediapipe>=0.10.14
numpy<2
torch>=2.2.0
pandas>=2.2.0
python-dotenv>=1.0.1
Flask>=3.0.0
google-generativeai>=0.8.3
psutil
onnxruntime>=1.18.0
